<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DbStringSybaseASE" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA0tJVLgVeeUSHH6YxvAHlKgQAAAACAAAAAAADZgAAqAAAABAAAAAGUev3dIFz7iR7A3qt+woOAAAAAASAAACgAAAAEAAAAIsxsF7ZtAaIblT6EHJOuYGYAAAAULu1HsZsh7LIq3TDkBrCJBhs5OelHgQrCBm7WFA+8ZEg/vCQjKUWZl7U1YNkh8NNEVbc7tjIeV0A9abHpCQCb61KaUmStIE0H+Fy8JTEfeJirjzI8tbT2YjF1Gjx93sPdeiKc2H5vn9R379OPHUkRVTLeC1eG23uUN89vtJX++YK015+Qdgfm9hHxg6RqEvJXnHKPtux5FMUAAAAWpA55AbEM8PZAINR4yAsYn5DnbQ="/>
		<!--add key="DbStringSybaseASE" value="Data Source='trbsybdsv01';Port='4102';UID='user_recupera';PWD='kGqZTy4535';Database='db_cliente_prod';Max Pool Size=10;Min Pool Size=0;timeout=0" /-->
		<add key="CodParametroHoraIniSistema" value="1"/>
		<add key="CodParametroHoraFimSistema" value="2"/>
		<add key="CodPeriodoExecSistema" value="3"/>
		<add key="NomeSistema" value="STA"/>
		<add key="Cn_Processo" value="1"/>
		<add key="ArquivoPathsXml" value="C:\sistemas\Sistema_TransferenciaArquivos\Projetos\SD3237\DSV\Fontes\Versão 64\bin\paths.xml"/>
		<add key="Arquivo7Zip" value="C:\Arquivos de programas\7-Zip\7z.exe"/>
		<!--add timeout de 30min em milissegundos-->
		<add key="TimeoutCompactacao" value="1800000"/>
		<add key="SobreEscreverArquivos" value="true"/>
		<add key="QtdDiasExcluirLog" value="5"/>

		<add key="GeraLogSucessoEventView" value="true"/>
		<add key="GeraLogSucessoBancoDados" value="true"/>
		
    </appSettings>    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
